{% load static %}
  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <!-- Compiled and minified CSS -->
      <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Fitness Watcher</title>
      <style>
        </style>
      {% block head %}
      {% endblock %}
    </head>

    <body>

      <nav>
        <div class="nav-wrapper" style="background-color:#4357AD;">
          <a href="{% url 'home' %}" class="brand-logo" style="margin:5px;">
            <img src="{% static 'images/safeen.png' %}" width="40" class="d-inline-block align-top" aria-labelledby="websiteLogo">
            <span id="websiteLogo">Fitness Watcher</span>
            </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
                
            {% if not user.is_authenticated %}
            <li><a href="{% url 'register' %}">SignUp</a></li>              
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
            {% else %}
            <li><a href="">Workout Plans</a></li>
              <li><a href="">Calorie Tracker</a></li>
                <li><a href="{% url 'blogs' %}">Trending blogs</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>

      {% block body %}
      {% endblock %}
    </body>
  </html>
        