{% extends 'app/base.html' %}

{% block body %}    
  {% if form.errors %}
  {{form.errors}}
{% endif %}

    <div class="row">
            <form method="POST"  action="{% url 'login' %}" class="col s6" style="position:fixed;
            top:30%;
            left:35%;">
              {% csrf_token %}
              <h4>Login</h4>
              <div class="row">
                
                <div class="input-field col s6">
                  <input type="text" name="username">
                  <label for="Username">Username</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input type="password" name="password">
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="row">
              <div class="input-field col s6"> 
              <button class="btn waves-effect waves-light" type="submit">Login</button>
              </div>
              </div>
            </form>
    </div>
{% endblock %}